{% extends 'sitewide/base.html' %}

{% block title %}Bill Text - {{text.bill.identifier}}{% endblock %}

{% load markdownify %}

{% block body %}
<div class="breadcrumb-holder bch-bills"><ul class="breadcrumbs"><li><a href="/">Home</a></li><li><a href="/bills/">Bills</a></li><li><a href="{{text.bill.legislative_session.get_absolute_url}}">{{text.bill.legislative_session}}</a></li><li><a href="{{text.bill.get_absolute_url}}">{{text.bill.identifier}}</a></li></ul></div>
<div class="bill-details container">
    <h1>{{text.bill.identifier}}</h1>
    <p class="bill-title">{{text.bill.title}}</p>

    <div class="explainer full-cluster">
        <h2>How we find this</h2>
        <p>Bill text is published alongside proposed bills on the Missouri House and Senate web sites in PDF form. We scrape these PDFs and republish that information in plain text.</p>
    </div>

    {% if text.text %}
    <div class="bill-text full-cluster">
        <h2>Bill Text from {{text.date}} - {{text.text_state_kw}}</h2>
        <div class="bill-text main">
            {{text.text | markdownify}}
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}