{% extends 'sitewide/base.html' %}

{% block title %}{{bill.identifier}}{% endblock %}

{% block body %}
<div class="breadcrumb-holder bch-bills"><ul class="breadcrumbs"><li><a href="/">Home</a></li><li><a href="/bills/">Bills</a></li><li><a href="{{bill.legislative_session.get_absolute_url}}">{{bill.legislative_session}}</a></li></ul></div>
<div class="bill-details container">
    <h1>{{bill.identifier}}</h1>
    <p class="bill-title">{{bill.title}}</p>

    {% if bill.description %}
    <div class="full-cluster">
        <h2>Description</h2>
        <p>{{bill.description}}</p>
    </div>
    {% endif %}

    {% if bill.actions.all %}
    <div class="recent-actions full-cluster">
        <h2>Recent Actions</h2>
        <table class="table listing">
            <thead class="">
            <tr>
                <td>Date</td>
                <td>Action</td>
                <td>Chamber</td>
            </tr>
            </thead>
            <tbody>
            {% for action in bill.actions.all|slice:"5" %}
            <tr>
                <th scope="row">{{action.date}}</th>
                <td>{{action.description}}</td>
                <td>{{action.chamber}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

    {% if bill.votes.all %}
    <div class="recent-votes full-cluster">
        <h2>Recent Votes</h2>
        <table class="table listing">
            <thead class="">
            <tr>
                <td>Date</td>
                <td>Vote</td>
                <td>Passed</td>
            </tr>
            </thead>
            <tbody>
            {% for vote in bill.votes.all|slice:"5" %}
            <tr>
                <th scope="row">{{vote.date}}</th>
                <td><a href="{{vote.get_absolute_url}}">{{vote.issue}}</a></td>
                <td>{{vote.get_passed_yes_no}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <p class="aff"><a href="{{bill.get_absolute_url}}/votes" class="link-legislative">View All {{bill.votes.all.count}} Votes</a></p>
    </div>
    {% endif %}

    {% if bill.sponsorships.all %}
    <div class="sponsors full-cluster">
        <h2>Bill Sponsors</h2>
        <ul class="bill-sponsor-list">
            {% for sponsorship in bill.sponsorships.all %}
            <li><a href="{{sponsorship.person.get_absolute_url}}"
                   class="link-people">{{sponsorship.person.get_full_name}}{% if sponsorship.primary %} (Primary){% endif %}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if bill.text_versions.all %}
    <div class="bill-text-versions full-cluster">
        <h2>Bill Text Versions</h2>
        <ul class="bill-sponsor-list">
            {% for text in bill.text_versions.all %}
            <li><a href="{{text.get_absolute_url}}"
                   class="link-legislative">{{text.date}} - {{text.text_state_kw}}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

</div>
{% endblock %}