{% extends 'sitewide/base.html' %}

{% block title %}{{membership.person.get_full_name}}'s Work in {{membership.session}}{% endblock %}

{% load markdownify %}
{% load react %}

{% block body %}
<div class="breadcrumb-holder bch-bills"><ul class="breadcrumbs"><li><a href="/">Home</a></li><li><a href="/people/">People</a></li><li><a href="{{membership.person.get_absolute_url}}">{{membership.person}}</a></li>{% react_render component="AMQuickSearch" %}</ul></div>
<div class="bill-details container">
    <h1>{{membership.person.get_full_name}}'s Work in {{membership.session}}</h1>
    {% if membership.district %}
    <p class="bill-title">Representing {{membership.district}}</p>
    {% endif %}


    {% if membership.bill_sponsorships.all %}
    <div class="bill-sponsorships full-cluster">
        <h2>Bills Sponsored</h2>
                <ul class="bill-sponsored-list">
            {% for sponsorship in membership.bill_sponsorships.all %}
            <li><a href="{{sponsorship.bill.get_absolute_url}}"
                   class="link-legislative">{{sponsorship.bill.identifier}}–{{sponsorship.bill.title}}{% if sponsorship.primary %} (Primary Sponsor){% endif %}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if membership.votes.all %}
    <div class="recent-actions full-cluster">
        <h2>Votes</h2>
        <table class="table listing">
            <thead class="">
            <tr>
                <td>Date</td>
                <td>Bill</td>
                <td>Question</td>
                <td>Response</td>
            </tr>
            </thead>
            <tbody>
            {% for vote in membership.votes.all|slice:"10" %}
            <tr>
                <th scope="row">{{vote.bill_vote.date}}</th>
                <td><a href="{{vote.bill_vote.bill.get_absolute_url}}" class="link-legislative">{{vote.bill_vote.bill}}</a></td>
                <td><a href="{{vote.bill_vote.get_absolute_url}}" class="link-legislative">{{vote.bill_vote.issue}}</a></td>
                <td>{{vote.opinion}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <p class="aff"><a href="{{membership.get_votes_absolute_url}}" class="link-people">View All {{membership.votes.all.count}} Votes by {{membership.person.get_full_name}} in {{membership.session}}</a></p>
    </div>
    {% endif %}

    <!--{% if session.bills.all %}-->
    <!--<div class="session-bills full-cluster">-->
        <!--<h2>Bills from this Session</h2>-->
        <!--<table class="table listing">-->
            <!--&lt;!&ndash;<thead class="">&ndash;&gt;-->
            <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                <!--&lt;!&ndash;<td>Name</td>&ndash;&gt;-->
            <!--&lt;!&ndash;</tr>&ndash;&gt;-->
            <!--&lt;!&ndash;</thead>&ndash;&gt;-->
            <!--<tbody>-->
            <!--{% for bill in session.bills.all|dictsortreversed:"updated_at" %}-->
            <!--<tr>-->
                <!--<th scope="row"><h3><a href="{{bill.get_absolute_url}}" class="link-legislative">{{bill.identifier}}</a></h3>-->
                <!--<p>{{bill.title}}</p></th>-->
            <!--</tr>-->
            <!--{% endfor %}-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->
    <!--{% endif %}-->

</div>
{% endblock %}