{% extends 'sitewide/base.html' %}

{% block title %}All Legislative Sessions{% endblock %}

{% load markdownify %}
{% load react %}

{% block body %}
<div class="breadcrumb-holder bch-bills"><ul class="breadcrumbs"><li><a href="/">Home</a></li><li><a href="/legislative/sessions">Sessions</a></li>{% react_render component="AMQuickSearch" %}</ul></div>
<div class="bill-details container">
    <h1>All Legislative Sessions</h1>


    <div class="bill-text full-cluster">
        <h2>Legislative Sessions by Name</h2>
    <ul class="session-list">
        {% for session in sessions %}
        <li><a class="link-legislative" href="{{session.get_absolute_url}}">{{session.name}}</a></li>
        {% endfor %}
    </ul>
    </div>

</div>
{% endblock %}