*.pyc
.DS_Store
.env
.coverage
.tox
.cache
.build
.static
.idea
settings_local.py
.python-version

am/static/admin
am/static/gis

node_modules
.sass-cache
am/package-lock.json

am/scrape_cache
am/zappa_settings.json

*.asp
