div.transaction-banner{
  margin-top: 2rem;
  margin-bottom: 2rem;

  div.trans-block{

    p {
      font-size: 1.5rem;
      line-height: 1.5em;
      text-align: center;
    }

    div.arrow-svg {
      transform: rotate(90deg);
      max-width: 150px;
      margin: 3em auto;
      transition: transform 1s, margin 1s;
    }

    p.trans-amount-bottom{
      display:none;
    }
    p.trans-amount-top{
      display: block;
    }


  }

  @media screen and (min-width: $medium-screen-width){
    div.trans-block {
      width: 33%;
      float: left;

      p {
        font-size: 1.5rem;
        line-height: 1.5em;
        text-align: center;
      }


      div.arrow-svg{
        max-width: 100px;
        margin:auto;
        transform: none;
      }

      p.trans-amount-top{
        display:none;
      }
      p.trans-amount-bottom{
        display:block;
      }


    }
    @include clearfix;
  }
}