{% extends 'sitewide/base.html' %}

{% block title %}People{% endblock %}

{% load markdownify %}

{% block body %}
<div class="breadcrumb-holder bch-people"><ul class="breadcrumbs"><li><a href="/">Home</a></li><li><a href="/people">People</a></li></ul></div>
<div class="person-details container">
    <h1>People</h1>

    <div class="full-cluster pitching-contain">
            <div class="pitch-svg">
                {% include "graphics/person_question_mark_svg.html" %}
            </div>
            <p>See activities and analysis related to politicians and private influencers from across Missouri and beyond.</p>
            <p><a class="link-people link-button" href="/search/people">Search for People</a></p>
    </div>


</div>
{% endblock %}
