<div class="body-membership">
    <h3>{% if membership.person %}<a href="{{membership.person.get_absolute_url}}" class="link-people">{{membership.person}}</a>{% else %}Congressperson{% endif %} in {{membership.session}}</h3>
    <table class="table listing">
        <tr>
            <th scope="row">Bills Sponsored</th>
            <td>{{membership.get_num_bills_sponsored}}</td>
        </tr>
        <tr>
            <td>Primary Sponsorships</td>
            <td>{{membership.get_num_bills_primary_sponsored}}</td>
        </tr>
    </table>
    <p class="aff"><a href="{{membership.get_absolute_url}}" class="link-legislative">Get More Info on {{membership}}</a></p>
</div>