<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block metablock %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>{% block title %}title block{% endblock %} - Access Missouri</title>
</head>
<body>
{% block body %}
{% endblock %}

{% block scriptyfoot %}
{% endblock %}
</body>
</html>