<!DOCTYPE html>
<html lang="en-US">
<head>
    {% load static %}
    {% load react %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon Section -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'favicon-16x16.png' %}" sizes="16x16">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#5bbad5">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

    <meta property="og:image"
          content="{% block metaimg %}{% static 'am-logo-nearblack-1400.png' %}{% endblock %}">
    {% block metablock %}
    {% endblock %}
    <link rel="stylesheet" href="https://s3.amazonaws.com/am-cdn-feeder/dist/fonts/font-define.css">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.1.1/umd/react.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.1.1/umd/react-dom.production.min.js"></script>
    <!--<script src="https://s3.amazonaws.com/apps.kbia.org/am-static-assets/js/bundle.js"></script>-->
    <script src="http://localhost:1234/js/bundle.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-85627450-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-85627450-1');
    </script>
        {% block headscript %}
    {% endblock %}

    <title>{% block title %}{% endblock %} - Access Missouri</title>
    <script src="{% static 'react_quick_search.js' %}"></script>

</head>
<body>
<nav class="am-navbar">
    <div class="nav-container">
        <div class="nav-left">
            <a href="/">        <img alt="Access Missouri Logo" class="img-navbar"  src="{% static 'am-logo-nearblack-1400.png' %}">
            </a>
        </div>

        <div class="nav-right">
            <ul class="nav-list desktop">
                <li class="nav-list-item nl-item-legislation"><a href="/bills/">Legislation</a></li>
                <li class="nav-list-item nl-item-people"><a href="/people/">People</a></li>
                <li class="nav-list-item nl-item-finance"><a href="/finance/">Finance</a></li>
            </ul>
            <div class="reactive-region mobile">
                {% react_render component="SiteMenu" %}
            </div>
        </div>

    </div>
</nav>
{% block body %}
{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js"></script>
<script src="{% static 'react_site_menu.js' %}"></script>
{% block scriptyfoot %}
{% endblock %}
<footer>
    <div class="container">
        <img alt="Access Missouri Logo" class="img-foot"  src="{% static 'am-logo-white-1400.png' %}">
        <p class="am-t">Access Missouri</p>
        <div class="footer-links">
            <ul class="foot-link-left-col">
                <li><a href="/">Home</a></li>
                <li><a href="/search/people/">Search People</a></li>
            </ul>
            <ul class="foot-link-right-col">
                <li><a href="/search/bills/">Search Bills</a></li>
                {% block adminlink %}
                {% endblock %}
            </ul>
        </div>
    </div>
</footer>
{% react_print %}
</body>
</html>