{% extends 'sitewide/base.html' %}

{% block title %}{{object.name}}{% endblock %}

{% block body %}
<div class="breadcrumb-holder bch-finance"><ul class="breadcrumbs"><li><a href="/">Home</a></li><li><a href="/finance/">Finance</a></li>{% if object.type == "comm" %} <li><a href="/finance/committees">Committees</a></li>{% endif %}{% if object.type == "corp" %} <li><a href="/finance/companies">Companies</a></li>{% endif %}{% if object.type == "person" %} <li><a href="/finance/people">People</a></li>{% endif %}</ul></div>
<div class="finance-details container">
    <h1>{{object.name}}</h1>
    {% if object.type == "comm" %}
    <p class="finance-sub">Political Committee</p>
    {% endif %}
    {% if object.type == "person" %}
    <p class="finance-sub">Individual Contributor</p>
    {% endif %}
    {% if object.type == "corp" %}
    <p class="finance-sub">Company or Corporate Contributor</p>
    {% endif %}


    {% if object.income.all %}
    <div class="recent-income full-cluster">
        <h2>Recent Income</h2>
        <table class="table listing">
            <thead class="">
            <tr>
                <td>Date</td>
                <td>Source</td>
                <td>Amount</td>
            </tr>
            </thead>
            <tbody>
            {% for transaction in object.income.all|slice:"5" %}
            <tr>
                <th scope="row">{{transaction.date}}</th>
                <td><a class="link-finance" href="{{transaction.t_from.get_absolute_url}}">{{transaction.t_from.name}}</a></td>
                <td>${{transaction.amount|floatformat:2}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}


    {% if object.spending.all %}
    <div class="recent-income full-cluster">
        <h2>Recent Spending</h2>
        <table class="table listing">
            <thead class="">
            <tr>
                <td>Date</td>
                <td>Source</td>
                <td>Amount</td>
            </tr>
            </thead>
            <tbody>
            {% for transaction in object.spending.all|slice:"5" %}
            <tr>
                <th scope="row">{{transaction.date}}</th>
                <td><a class="link-finance" href="{{transaction.t_to.get_absolute_url}}">{{transaction.t_to.name}}</a></td>
                <td>${{transaction.amount|floatformat:2}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}



    {% if bill.text_versions.all %}
    <div class="bill-text-versions full-cluster">
        <h2>Bill Text History</h2>
        <ul class="bill-sponsor-list">
            {% for text in bill.text_versions.all %}
            <li><a href="{{text.get_absolute_url}}"
                   class="link-legislative">{{text.date}} - {{text.text_state_kw}}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

</div>
{% endblock %}