{% extends 'sitewide/base.html' %}

{% block title %}{{object.name}}{% endblock %}
{% load react %}
{% block body %}
<div class="breadcrumb-holder bch-finance"><ul class="breadcrumbs"><li><a href="/">Home</a></li><li><a href="/finance/">Finance</a></li>{% if object.type == "comm" %} <li><a href="/finance/committees">Committees</a></li>{% endif %}{% if object.type == "corp" %} <li><a href="/finance/companies">Companies</a></li>{% endif %}{% if object.type == "person" %} <li><a href="/finance/people">People</a></li>{% endif %}{% react_render component="AMQuickSearch" %}</ul></div>
<div class="finance-details container">
    <h1>{{object.name}}</h1>
    {% if object.type == "comm" %}
    <p class="finance-sub">Political Committee</p>
    {% endif %}
    {% if object.type == "person" %}
    <p class="finance-sub">Individual Contributor</p>
    {% endif %}
    {% if object.type == "corp" %}
    <p class="finance-sub">Company or Corporate Contributor</p>
    {% endif %}


    <div class="explainer full-cluster">
        <h2>How we get this information</h2>
        <p>State laws require that political organizations report their donations and spending to the Missouri Ethics Commission anywhere between one and five times each year, depending on the kind of organization and how much money they raise. We compile these reports and other public records to create profiles for each donor and political organization.</p>
    </div>


    {% if object.income.all %}
    <div class="recent-income full-cluster">
        <h2>Income</h2>
        {% if top_donors %}
        <div class="subcluster">
        <h3>Top Income Sources</h3>
            <table class="table listing">
                <thead>
                <td>Source</td>
                <td>Total Received</td>
                </thead>
                <tbody>
                {% for donor in top_donors %}
                    <tr>
                        <td><a href="/finance/entities/{{donor.t_from__id}}" class="link-finance">{{donor.t_from__name}}</a></td>
                        <td>${{donor.amount|floatformat:2}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        <div class="subcluster">
        <h3>Income by Source Type</h3>
        <div class="viz-row-right">
            <div class="viz-40">
            {% react_render component="amUI.FinanceTypePie" prop_corp=object.get_total_income_from_corp prop_comm=object.get_total_income_from_comm prop_people=object.get_total_income_from_people %}
            </div>
            <div class="viz-slack">
                <table class="table listing">
                    <tbody>
                    <tr>
                        <td>Corporate Spending</td>
                        <td>${{object.get_total_income_from_corp|default_if_none:"0"|floatformat:2}}</td>
                    </tr>
                    <tr>
                        <td>Political Committees</td>
                        <td>${{object.get_total_income_from_comm|default_if_none:"0"|floatformat:2}}</td>
                    </tr>
                    <tr>
                        <td>Private Individuals</td>
                        <td>${{object.get_total_income_from_people|default_if_none:"0"|floatformat:2}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="subcluster">
        <h3>Recent Income</h3>
        <table class="table listing">
            <thead class="">
            <tr>
                <td>Date</td>
                <td>Source</td>
                <td>Amount</td>
            </tr>
            </thead>
            <tbody>
            {% for transaction in object.income.all|slice:"5" %}
            <tr>
                <th scope="row"><a class="link-finance" href="{{transaction.get_absolute_url}}">{{transaction.date}}</a></th>
                <td><a class="link-finance" href="{{transaction.t_from.get_absolute_url}}">{{transaction.t_from.name}}</a></td>
                <td><a class="link-finance" href="{{transaction.get_absolute_url}}">${{transaction.amount|floatformat:2}}</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <p class="cont"><a href="{{object.get_absolute_url}}/income" class="link-finance">View All Income</a></p>
    </div>
</div>
{% endif %}


{% if object.spending.all %}
<div class="recent-income full-cluster">
    <h2>Spending</h2>
    {% if top_targets %}
        <div class="subcluster">
        <h3>Top Spending Targets</h3>
            <table class="table listing">
                <thead>
                <td>Recipient</td>
                <td>Total Spent</td>
                </thead>
                <tbody>
                {% for target in top_targets %}
                    <tr>
                        <td><a href="/finance/entities/{{target.t_to__id}}" class="link-finance">{{target.t_to__name}}</a></td>
                        <td>${{target.amount|floatformat:2}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    <div class="subcluster">
        <h3>Spending by Recipient Type</h3>
        <table class="table listing">
            <tbody>
            <tr>
                <td>Corporations</td>
                <td>${{object.get_total_spending_to_corp|default_if_none:"0"|floatformat:2}}</td>
            </tr>
            <tr>
                <td>Political Committees</td>
                <td>${{object.get_total_spending_to_comm|floatformat:2}}</td>
            </tr>
            <tr>
                <td>Private Individuals</td>
                <td>${{object.get_total_spending_to_people|default_if_none:"0"|floatformat:2}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="subcluster">
        <h3>Recent Spending</h3>
        <table class="table listing">
            <thead class="">
            <tr>
                <td>Date</td>
                <td>Destination</td>
                <td>Amount</td>
            </tr>
            </thead>
            <tbody>
            {% for transaction in object.spending.all|slice:"5" %}
            <tr>
                <th scope="row"><a class="link-finance" href="{{transaction.get_absolute_url}}">{{transaction.date}}</a></th>
                <td><a class="link-finance" href="{{transaction.t_to.get_absolute_url}}">{{transaction.t_to.name}}</a></td>
                <td><a class="link-finance" href="{{transaction.get_absolute_url}}">${{transaction.amount|floatformat:2}}</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <p class="cont"><a href="{{object.get_absolute_url}}/spending" class="link-finance">View All Spending</a></p>
    </div>

</div>
{% endif %}



</div>
{% endblock %}


{% block adminlink %}
<li><a href="{{object.get_admin_url}}" rel="nofollow">Edit This Page</a></li>
{% endblock %}