div.bill-details{

  h1 {
    font-size: 2.8em;
    border-left: 3px solid $am-crimson;
    padding-left: 10px;
  }


  p.bill-title{
    font-size: 2.6em;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  table{
    td {
      a {
        color: $gray;
        background-color: lighten($gray, 70%);
        padding-left: 5px;
        padding-right: 5px;
        border-bottom: 1px dotted lighten($am-crimson, 20%);
        transition: background-color ease-in 0.3s;

        &:hover {
          text-decoration: none;
          background-color: lighten($am-crimson, 55%);
          border-bottom: 1px dotted lighten($am-crimson, 10%);
          transition: background-color ease-in 0.3s;
        }
      }
    }
  }

  ul.bill-sponsor-list{
    font-size: 1.2em;

    li {
      margin-top: 1em;
    }
  }


  div.vote-detail{

    div.react-vote-donut-contain{
      width: 100%;
      height: 200px;
    }

    @media screen and (min-width: $medium-screen-width){
      div.react-vote-donut-contain{
        margin-top: 2rem;
        width: 50%;
        float: left;
        height: auto;
      }

      table{
        margin-top: 2rem;
        width: 50%;
        float: left;
        height: auto;
      }

      @include clearfix();
    }

    @media screen and (min-width: $mediumlg-screen-width){
      div.react-vote-donut-contain{
        margin-top: 2rem;
        width: 40%;
        float: left;
        height: auto;
      }

      table{
        margin-top: 2rem;
        width: 60%;
        float: left;
        height: auto;
      }

      @include clearfix();
    }


  }


}

div.bill-text{
  div.main {
    margin-top: 2em;
    margin-left: 25px;
    margin-right: 25px;

    padding: 25px;

    background-color: $gray-lightest;


    p {
      font-size: 1.3rem;
      font-family: $equity-reg;
      margin-top: 1em;
    }
  }
}