// Setup for Susy

$total-columns: 12;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: $gutter-width;

$small : 30em;
$medium: 47em;
$large: 75em;

// Set border-box sizing.
@include border-box-sizing;


.container{
	@include container;

	max-width: $container-width !important;

	padding: 3%;
}

div.page-segment{
	&:not(:first-of-type){
		margin-top: 2rem;
	}
}

a.back-link{
	text-decoration: none;
	color: $gray-light;
}

a{
	color: darken($project-primary, 20%);
	text-decoration: none;

	&:hover{
		text-decoration: underline;
	}
}

div.explainer {
  background-color: lighten($gray-lighter, 5%);
  padding:20px;

  h2 {
    font-size: 1.3rem;
    margin-top: 0px;
    font-family: $advocate-reg;
    margin-bottom: 1em;

    &:before{
      content: "?";
      font-size: 1rem;
      margin-right: 1em;
      background-color: darken($project-text-light, 10%);
      padding: 5px 11px;
      border-radius: 100%;
      color: $project-text-dark;
    }
  }

  p {
    font-size: 1.1rem;
  }
}

div.subcluster{
  @include clearfix;
  h3 {
    font-family: $concourse-reg;
    font-size: 1.5rem;
    padding-left: 5px;
    margin-top: 1em;
  }
}

p.cont {
  padding-left: 5px;
  margin-top: 1rem;
}

table {
  td.sub-item {
    padding-left: 30px;
  }
}

ul.block-list{
  li.block-list-item {
    margin-top: 1rem;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $gray-lightest;

    p {
      a {
        background: none;
      }

      a.link-legislative{
        color: $am-crimson;
      }
      a.link-finance{
        color: $am-green;
      }
      a.link-people{
        color: $am-blue;
      }

    }

    p.primary-indicator{
      font-size: 1.4rem;

      a {
        color: $project-text-light;

        &:hover{
          text-decoration: underline;
        }
      }
    }

    p.type{
      font-family: $advocate-reg;
    }

    p.type-legislative{
      color: $am-crimson;
    }

    p.more {
      margin-top: 0.5em;

      a{
        padding: 0;

        &:hover{
          background-color: lighten($gray-lightest, 5%);
        }
      }
    }


  }
}



div.viz-row-right {
   @media screen and (min-width: $medium-screen-width){
     display: flex;
     flex-direction: row-reverse;

     div.viz-40{
       width: 40%;

     }
     div.viz-slack{
      flex-grow: 1;
     }
  }
}

div.viz-table{
  max-width: 100%;
  table {
    width: 100%;
  }
}
