// Setup for Susy

$total-columns: 12;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: $gutter-width;

$small : 30em;
$medium: 47em;
$large: 75em;

// Set border-box sizing.
@include border-box-sizing;


.container{
	@include container;

	max-width: $container-width !important;

	padding: 3%;
}

div.page-segment{
	&:not(:first-of-type){
		margin-top: 2rem;
	}
}

a.back-link{
	text-decoration: none;
	color: $gray-light;
}

a{
	color: darken($project-primary, 20%);
	text-decoration: none;

	&:hover{
		text-decoration: underline;
	}
}

div.explainer {
  background-color: lighten($gray-lighter, 5%);
  padding:20px;

  h2 {
    font-size: 1.3rem;
    margin-top: 0px;
    font-family: $advocate-reg;
    margin-bottom: 1em;

    &:before{
      content: "?";
      font-size: 1rem;
      margin-right: 1em;
      background-color: darken($project-text-light, 10%);
      padding: 5px 11px;
      border-radius: 100%;
      color: $project-text-dark;
    }
  }

  p {
    font-size: 1.1rem;
  }
}

div.subcluster{
  h3 {
    font-family: $concourse-reg;
    font-size: 1.5rem;
    padding-left: 5px;
    margin-top: 1em;
  }
}