@mixin outline-button($color) {
  @include border-radius(0);
  @include transition(all 0.2s ease-in-out);
  padding: 0.5rem 1em;
  vertical-align: middle;

  cursor: pointer;

  border: 1px solid transparent;
  border-color: $color;

  &:hover {
    background-color: $color;

    color: #fff;
  }
}

@mixin home-card-content($width) {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  max-width: $width;
}

@mixin contained($mwidth) {
  max-width: $mwidth;
  margin-left: auto;
  margin-right: auto;
}