nav.am-navbar{
  width: 100%;
  height: 7rem;

  div.nav-container{
    @include container;
    max-width: $container-width;
    padding: 10px 3%;

    div.nav-left{
      float: left;
      img{
        height: 90px;
        z-index: 50;
      }
    }
    div.nav-right{
      float: right;
      ul.nav-list{

        list-style: none;

        li {

          font-family: $advocate-reg;

          display: inline-block;
          margin: 35px 20px;

          a {
            color: $gray;
            font-size: 1.3em;

            padding-bottom: 2px;
            border-bottom: 2px solid;

            &:hover{
              padding-bottom: 3px;
              border-bottom-width: 4px;
              text-decoration: none;

              transition: border-bottom-width ease-out 0.2s,
              padding-bottom ease-out 0.2s;

            }
          }

        }

        li.nl-item-finance{

        }

        li.nl-item-legislation{
          a{
            border-bottom-color: $am-crimson;
          }
        }

        li.nl-item-people{
          a{
            border-bottom-color: $am-blue;
          }
        }


      }

      .desktop {
        @media screen and (max-width: $small-screen-width){
          display: none;
        }
      }

      .mobile {
        @media screen and (min-width: $small-screen-width){
          display: none;
        }

        a.menu-link {
          font-family: $advocate-reg;

          display: inline-block;
          margin: 35px 20px;

            color: $gray;
            font-size: 1.3em;

            padding-bottom: 2px;
            border-bottom: 2px solid;

            &:hover {
              padding-bottom: 3px;
              border-bottom-width: 4px;
              text-decoration: none;

              transition: border-bottom-width ease-out 0.2s,
              padding-bottom ease-out 0.2s;
            }

        }
      }
    }
  }
}

div.nav-fs-menu {
  position: fixed;
  height: 100%;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba($project-background-light, 50);
}

ul.nav-list.mobile{
  li {
      display: block !important;
    margin-bottom: 0.5em !important;
    margin-top: 1.2em !important;
  }
}

