div.person-details{

  h1 {
    font-size: 2.8em;
    border-left: 3px solid $am-blue;
    padding-left: 10px;
  }

  p.bill-title{
    font-size: 2.6em;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  ul.bill-sponsored-list{
    font-size: 1.2em;
    line-height: 1.8em;

    li {
      margin-top: 0.8em;
    }
  }

}