div.home-content {

  div.intro-blurb{

    h1{
      font-size: 3.5rem;
      padding-bottom: 0.3em;

      @media screen and (max-width: $medium-screen-width) {
        font-size: 2.5rem;
      }

      @media screen and (max-width: $small-screen-width) {
        padding-top: 1rem;
        font-size: 2.2rem;
      }

      @media screen and (max-width: $tiny-screen-width) {
        padding-top: 0rem;
        font-size: 2.0rem;

        &:after{
          padding-top: 8px;
        }
      }


      &:after{
        display: table;
        width:120px;
        padding-top: 10px;
        border-bottom: 6px solid $project-primary;
        content: "";
      }
    }

  }

  div. show-listing-block{
    div.show-listing-block-category{

      margin-top: 1.5rem;

      h2{
        font-size: 1.1rem;
      }

      a.show-link-block{
        margin-top: 1rem;
        display: block;

        @media screen and (max-width: $small-screen-width){
          @include clearfix;
        }


        color: $gray;
        text-decoration: none;

        h3.show-name{
          font-size: 1.2rem;
          padding-top: 7%;
        }

        &:hover {
          text-decoration: underline;
        }

        img.show-block-art{
          max-width: 20%;
          margin-right: 1rem;

          float: left;
          z-index: 49;
          pointer-events: auto;
          cursor: pointer !important;
        }

      }

    }

  }

  @media screen and (min-width: $small-screen-width){
    div.show-listing-block {

      div.show-listing-block-category {
        @include clearfix;

        h2 {

        }

        a.show-link-block {
          display: inline;

          z-index: 85;
          pointer-events: auto;
          cursor: pointer !important;

          width: 150px;
          margin-right: 10px;

          float: left;

          h3 {
            display: none;
          }

          div {
            display: inline;
          }
          img.show-block-art {
            float:none;
            max-width: 100% !important;

          }
        }



      }

    }

  }

}