{% extends 'sitewide/base.html' %}

{% load static %}
{% load react %}

{% block metablock %}

{{ form.media }}
{% endblock %}

{% block title %}Search for Bills{% endblock %}

{% block body %}
<div class="breadcrumb-holder bch-bills"><ul class="breadcrumbs"><li><a href="/">Home</a></li><li><a href="/bills/">Bills</a></li></ul></div>
<div class="bill-details container bill-search">
    <h1>Search for Bills</h1>

    {% react_render component="BillAdvancedSearch" %}


</div>
{% endblock %}

{% block scriptyfoot %}
<script src="{% static 'react_advanced_search.js' %}"></script>

{% endblock %}