{% extends 'sitewide/base.html' %}

{% block title %}Home{% endblock %}

{% load humanize %}
{% load static %}

{% block body %}
<div class="breadcrumb-holder "><ul class="breadcrumbs"><li><a href="/">Home</a></li></ul></div>
<div class="container home-page">
    <div class="float-top-home">
        <div class="tease-image">
            <img src="{% static 'am-logo-blue-1400.png' %}" alt="Access Missouri Logo">
        </div>
        <div class="teaser-block">
            <!--<p class="pitch-phrase red">{{bills.count|intcomma}} bills.</p>-->
            <!--<p class="pitch-phrase blue">{{personvotes.count|intcomma}} votes.</p>-->
            <!--<p class="pitch-phrase green">{{finance_transactions.count|intcomma}} financial transactions.</p>-->
            <h1>Legislative Data<br />Straight from Jefferson City</h1>
            <p class="description">
                <strong>Access Missouri</strong> compiles information on Missouri politics from dozens of sources across the web so you don't have to.
            </p>
        </div>
    </div>

    <div class="snippet-block snippet-block-legislative">
        <h2>Recent Bills</h2>
        <ul class="recents-list">
            {% for bill in bills.all|slice:"5" %}
            <li>
                <h3><a class="link-legislative" href="{{bill.get_absolute_url}}">{{bill}}</a></h3>
                <p class="bill-description">{{bill.title}}</p>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="snippet-block snippet-block-financial">
        <h2>Recent Political Spending</h2>
        <ul class="recents-list">
            {% for transaction in finance_transactions|slice:"5" %}
            <li>
                <h3><a href="" class="link-finance">${{transaction.amount|floatformat:2}} Transaction</a></h3>
                <p class="transaction-description">From <a class="link-finance" href="{{transaction.t_from.get_absolute_url}}">{{transaction.t_from.name}}</a> to <a class="link-finance" href="{{transaction.t_to.get_absolute_url}}">{{transaction.t_to.name}}</a></p>
            </li>
            {% endfor %}
        </ul>
    </div>

</div>
{% endblock %}