#!/usr/bin/env python
# -*- coding: utf-8 -*-
"""
Local development settings that override settings.py.
"""
from os import getenv

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'access_mo_django',
        'USER': 'postgres',
        'PASSWORD': '',
        'HOST': 'localhost',
        'PORT': '5432',
    },
}

DEBUG = True
if getenv("debug_prevent"):
    DEBUG = False

LOCAL_DB = True
