#!/usr/bin/env python
# -*- coding: utf-8 -*-
"""
Local development settings that override settings.py.
"""

DATABASES = {
    'default': {
        'ENGINE': 'django.contrib.gis.db.backends.postgis',
        'NAME': 'access_mo_django',
        'USER': 'postgres',
        'PASSWORD': '',
        'HOST': 'localhost',
        'PORT': '5432',
    },
}
